* {
    box-sizing: border-box;
}

body {
    background-color:#293264 ;
}

.start--menu{
    margin: 100px;
    padding-top: 150px;
    width: 550px;
    height: 550px;
    color: #293264;
    border-radius: 10px;
    background-color: antiquewhite;
    display:flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}



.quizz--button {
    border:0px;
    width: 193px;
    height: 52px;
    color: #F5F7FB;
    background-color: #4D5B9E;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
}

.start--menu > h1 {
    font-family: 'Karla', sans-serif;
}

.start--description{
    font-family: 'Inter', sans-serif;
    width: 400px;
    font-size: small;
    text-align: center;
}

.quizz--font{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    min-width: 500px;
    height: 600px;
    max-width: 700px;
    border-radius: 10px;
    background-color: antiquewhite;
    font-family: 'Karla', sans-serif;
    color: #293264;
}

.delimiter{
    border-top: #DBDEF0;
    border-radius: 5px;
}

.answer--list{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
}

.answer{
    border: solid 1px #4D5B9E;
    padding: 5px;
    min-width:66px;
    min-height: 21px;
    border-radius: 8px;
    align-items: center;
    align-content: center;
    color: #293264;
    font-size:13px;
    text-align: center;
    cursor:pointer;
}

.selected--answer{
    padding: 5px;
    min-width:66px;
    min-height: 21px;
    border-radius: 8px;
    align-items: center;
    align-content: center;
    color: #293264;
    background-color: #D6DBF5;
    font-size:13px;
    text-align: center;
    cursor:pointer;
}
