* {
    box-sizing: border-box;
}

body {
    background-color:#293264 ;
    display: flex;
}

.start--menu{
    width: 550px;
    height: 550px;
    left: 95px;
    top: 112px;
    background: #F5F7FB;
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding-top: 150px;
    color: #293264;
}

.start--menu > h1 {
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-size: 31.25px;
    line-height: 37px;
    text-align: center;
}

.quizz--button {
    border:0px;
    width: 193px;
    height: 52px;
    color: #F5F7FB;
    background-color: #4D5B9E;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
}

.start--menu > h1 {
    font-family: 'Karla', sans-serif;
}

.start--description{
    font-family: 'Inter', sans-serif;
    width: 400px;
    font-size: small;
    text-align: center;
}

.quizz--font{
    width: 550px;
    height: 550px;
    left: 95px;
    top: 112px;
    padding: 40px;
    border-radius: 10px;
    background-color: #F5F7FB;
    font-family: 'Karla', sans-serif;
}

.delimiter{
    border-top: #DBDEF0;
    border-radius: 5px;
}

.answer--list{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
}

.answer{
    border: solid 1px #4D5B9E;
    padding: 5px;
    min-width:66px;
    min-height: 21px;
    border-radius: 8px;
    align-items: center;
    align-content: center;
    color: #293264;
    font-size:13px;
    text-align: center;
    cursor:pointer;
}

.selected--answer{
    padding: 5px;
    min-width:66px;
    min-height: 21px;
    border-radius: 8px;
    align-items: center;
    align-content: center;
    color: #293264;
    background-color: #D6DBF5;
    font-size:13px;
    text-align: center;
    cursor:pointer;
}

.good--answer{
    padding: 5px;
    min-width:66px;
    min-height: 21px;
    border-radius: 8px;
    align-items: center;
    align-content: center;
    color: #293264;
    background-color: #94D7A2;
    font-size:13px;
    text-align: center;
    cursor:pointer;
}

.bad--answer{
    padding: 5px;
    min-width:66px;
    min-height: 21px;
    border-radius: 8px;
    align-items: center;
    align-content: center;
    color: #293264;
    background-color: #F8BCBC;
    font-size:13px;
    text-align: center;
    cursor:pointer;
}

.footer{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

